* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}
/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(../image/header-degital-box.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-box-text {
  margin-bottom: 40px;
}

h1 {
  font-size: 500%;
  color: #ffff;
  font-weight: 400;
  margin-bottom: 20px;
}

h2 {
  font-size: 200%;
  color: #ffff;
  font-weight: 400;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 200px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ed07b7;
  color: #ffff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #bd0592;
}
/* ========================== Bonus cái thẻ button Redmore */
.btn-ghost:link,
.btn-ghost:visited {
  border: 2px solid #ed07b7;
  color: #ed07b7;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #bd0592;
  color: #fff;
}

/* ============================= */
/* Phần menu-nav */
.logo {
  height: 120px;
  width: auto;
  float: left;
}

.menu-nav li {
  display: inline-block;
  margin-right: 40px;
  text-transform: uppercase;
}

.menu-nav li a:link,
.menu-nav li a:visited {
  text-decoration: none;
  color: #ffff;
}

.menu-nav li a:hover,
.menu-nav li a:active {
  border-bottom: 2px solid #ed07b7;
}

.menu-nav {
  list-style: none;
  float: right;
  margin-top: 50px;
}

/* ======================================= */
/* Phần About__section */
.laptop-image {
	width:80%;
}

.about-heading {
	color:#000;
	font-size:250%;
	font-weight:500;
	margin-bottom:50px;
}

.about-para {
	color:#555;
	margin-bottom:50px;
}

.about-box {
	margin-top:150px;
}

.about-box:first-child {
	text-align:left;
	padding:0 5%;
}
.about-box:last-child {
	text-align:right;
}

.about-section {
	padding-bottom:20px;
}
/* Work-Secion =================================== */
.section-heading {
  font-size: 250%;
  color: #000;
  margin-bottom: 20px;
  margin-top: 150px;
}

.section-sub-heading {
  font-size: 150%;
  color: #555;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5 ;
}

.section-sub-heading::after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #ed07b7;
  content: " ";
  margin: 30px auto 0 auto;
}

.work-section {
  text-align: center;
  background-color: #f4f4f4;
}

.work-portfolio {
  margin-top: 10px;
  list-style: none;
  width: 100%;
}

.work-portfolio li {
  display: block;
  width: 25%;
  float: left;
}

.portfolio-image {
  background-color: #000;
  overflow: hidden;
}

.portfolio-image img {
  width: 100%;
  height: auto;
  opacity: 0.5;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.portfolio-image img:hover {
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}

.work-para {
  color: #ffff;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}

/* ====================================== */
/* Building the Services Page  */
.services-section{
  text-align: center;
  background-color: #f4f4f4;
}
.services-box{
  padding: 1% 3%;
  
}

.big-icon{
  font-size: 250%;
  color: #6920b0;
  display: block;
  margin-bottom: 30px;
}

.services-heading{
  font-size: 150%;
  margin-bottom: 30px;
  font-weight: 400;
}

.services-para{
  color: #555;
  font-size: 90%;
  margin-bottom: 20px;
}

.services-link{
  color: #ed07b7;
  text-transform: uppercase;
  text-decoration: none;
}


/* Liên kết với các doanh nghiệp */
.partners-section{
  text-align: center;
}

.partners-logo{
  width: 40%;
  height: auto;
  
}